:root {
    --main-left-space: 99px;
    --list-margin-vertical: calc(140px / 2);
}

body {
    font-family: 'Ralwey';
    p {
        font-size: 18px;
        background-color: #000000;
    }
}

$border-colr: #F7DF94;
@mixin reset-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

@mixin layout-container {
    max-width: 1114px;
    margin: auto;
}

h1 {
    margin: 0;
    font-family: 'Montserrat';
    padding-left: var(--main-left-space);
    font-weight: 300;
    line-height: 58px;
    color: #ffffff;
}

.header-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.homepage-btn {
    border: none;
    padding: 1rem 2rem;
    border-radius: 5px;
    cursor: pointer;
    color: #F2F2F2;
    font-size: 18px;
    line-height: 22px;
    margin-inline-start: var(--main-left-space);
}

div#root,
.otherQuotes {
    @include layout-container();
}

div#root {
    padding-top: 31px;
    background-color: #000000;
}

ul {
    @include reset-list();
}

ul.list-item {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    li {
        margin-inline-start: 11px;
    }
}

.btn-random {
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    color: #ffffff;
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
    font-family: 'Ralwey';
    text-transform: lowercase;
}

div.randome-quote {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-block-start: 50px;
    padding-block-end: 50px;
    p {
        font-weight: 500;
        font-size: 36px;
        line-height: 40px;
        color: #ffffff;
        border-left: 6px solid $border-colr;
        padding-left: var(--main-left-space);
        margin-bottom: calc(159px / 2);
        margin: 0;
        padding-top: 2rem;
        padding-bottom: 2rem;
        cursor: pointer;
        box-shadow: inset 0 -3em 3em hotpink, 0 0 0 2px rgb(255, 255, 255), 0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
    }
    .btn-author {
        font-size: 24px;
        line-height: 28px;
        color: #ffffff;
        font-weight: bold;
        background: none;
        border: none;
        outline: none;
        cursor: pointer;
        margin-top: calc(159px / 2);
        padding-top: 50px;
        padding-left: 29px;
        padding-bottom: 50px;
        padding-right: 534px;
        white-space: nowrap;
        margin-left: var(--main-left-space);
    }
    .btn-author:hover {
        background: red;
        transition: background 1s;
        color: #F2F2F2;
    }
}

h2 {
    font-weight: bold;
    font-size: 36px;
    line-height: 42px;
    color: #F2F2F2;
    font-family: 'Raleway';
    padding-left: var(--main-left-space);
}

.otherQuotes {
    padding-block-end: 213px;
    ul.quotes-container {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        li {
            font-style: normal;
            font-weight: 500;
            font-size: 36px;
            line-height: 120%;
            border-left: 6px solid $border-colr;
            padding-inline-start: var(--main-left-space);
            /* or 43px */
            color: #000000;
            margin-top: var(--list-margin-vertical);
            margin-bottom: var(--list-margin-vertical);
            background-color: #dadada;
            padding-bottom: 2rem;
            padding-top: 2rem;
            border-radius: 5px;
            box-shadow: inset 0 -3em 3em rgba(0, 0, 0, 0.1), 0 0 0 2px rgb(255, 255, 255), 0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
        }
    }
    ul.btn-container {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;
    }
}

#quote:hover {
    animation: shake 2s infinite;
    animation-direction: alternate;
}

@keyframes shake {
    0% {
        transform: skewY(5deg);
    }
    100% {
        transform: skewY(-5deg);
    }
}

footer>p {
    font-family: 'Montserrat';
    text-align: center;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    /* identical to box height */
    color: #A9A9A9;
}